# Third-parties
requests==2.23.0
whitenoise==5.0.1
sentry-sdk==0.14.4
django-heroku==0.3.1

# django
Django==2.2.12
psycopg2-binary==2.8.4
django-extensions==2.2.9
django-environ==0.4.5
django-crispy-forms==1.9.0

# dev packages
black==19.10b0
flake8==3.8.0
flake8-black==0.1.1
ipython==7.14.0
ipdb==0.13.2

# deploy
gunicorn==20.0.4
