# Third-parties
requests==2.23.0
sentry-sdk==0.16.0
Pillow==9.3.0

# Django & DRF
Django==2.2.22
psycopg2-binary==2.8.4
django-extensions==2.2.9
django-environ==0.4.5
django-crispy-forms==1.9.0
djangorestframework==3.11.2
markdown==3.2.2
django-filter==2.3.0
model-bakery==1.1.0
django-cors-middleware==1.5.0
django-phonenumber-field[phonenumbers]==4.0.0
django-jazzmin==2.2.11

# dev packages
black==19.10b0
flake8==3.8.0
flake8-black==0.1.1
ipython==7.14.0
ipdb==0.13.2

# deploy
gunicorn==20.0.4
