{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="main_panal">
  <div class="decleration_page">
    <div class="decleration_content">

      <div class="clearfix title main_title">
        <div class="float-left">
          <h5>الرئيسية</h5>
        </div>
        <div class="float-right">
          <p class="user_name mb-0">مرحباً<a class="ml-2" href="{% url 'user_profile' %}"> {{ request.user.name }}</a>
          </p>
        </div>
      </div>

      <!-- chose your request's category -->
      <div class="clearfix title sec_title">
        <h5>اختر نوع طلبك</h5>
      </div>

      <form>
        <div class="order_type">
          <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
              <div class="order_item">
                <div class="media">
                  <span><img src="{% static 'images/icons/info.svg' %}" alt="info.svg"></span>
                  <div class="media-body">
                    <h5 class="mt-0">طلبات</h5>
                    <p>خدمات</p>
                  </div>
                </div>
                <a href="#" class="cust_btn" data-toggle="modal" data-target=".first_login">تقديم طلب</a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="order_item">
                <div class="media">
                  <span><img src="{% static 'images/icons/error.svg' %}" alt="info.svg"></span>
                  <div class="media-body">
                    <h5 class="mt-0">طلبات</h5>
                    <p>الأخطاء</p>
                  </div>
                </div>
                <a href="#" class="cust_btn" data-toggle="modal" data-target=".success_order">تقديم طلب</a>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock content %}
