{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="main_panal user_view_page">

  <div class="decleration_page">
    <div class="title" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
        <li class="breadcrumb-item active" aria-current="page">طلب خدمة جديدة</li>
      </ol>
    </div>

    <form method="POST" class="">{% csrf_token %}
      <!-- <div class="page_content">
        {{ form|crispy }}
      </div> -->

      <div class="page_content">
        <h5>طلب جديد</h5>

        {% for field in form %}

        {% if field.name == "due_date" %}
        <div class="row mb-4">
          <div class="col-6">
            <p>
              <label>{{ field.label }}</label>
              <input type="date" name="{{ field.name }}" min="2020-1-1">
            </p>
          </div>

          {% elif field.name == "_list" %}
          <div class="col-6">
            <p>
              <label>{{ field.label }} *</label>
              <select name="{{ field.name }}" onchange="getCustomFields()">
                <option value="" selected="">------</option>
                {% for model_instance in field.field.choices.queryset %}
                <option value="{{ model_instance.id }}">{{ model_instance.name }}</option>
                {% endfor %}
              </select>
            </p>
          </div>
        </div>
        {% else %}
        <p>
          <label>{{ field.label }} *</label>
          {{ field }}
        </p>
        {% endif %}

        {% endfor %}

        <!-- <div id="custom_fields"></div> -->

        <hr>
        <input value="ارسال" class="cust_btn mt-2" type="submit">
      </div>

    </form>

  </div>

</div>
{% endblock content %}
