@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-moz-selection {
    background: #009FDA;
    color: #FFFFFF;
}

::selection {
    background: #009FDA;
    color: #FFFFFF;
}

*:focus {
    outline: 0;
}
button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #F8F8F8;
}

::-webkit-scrollbar-track {
    background-color: #F8F8F8;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #009FDA;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #009FDA;
}

body,
html{
    height: 100%;
	letter-spacing: -1px;
	font-family: 'Cairo', sans-serif;
}
.container-fluid{
	height: 100%
}
p{
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
    color: #999;
}
a:focus,
a:focus-within,
a:hover,
a{
	color: inherit
}

select.form-control:not([size]):not([multiple]) {
    height: calc(3rem + 2px);
}
.register-sec{
	height: 100%
}
.register-sec .row{
	height: 100%
}
.register-sec .image-left-back {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    background-image: url(../images/slideHome.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}



/*
register-sec
========= */


.register-sec .words-right .inner {
    min-width: 80%;
}
.register-sec .words-right .inner .logo{
	margin-bottom:50px;
}
.register-sec .words-right .inner .logo img{
	width: 171px;
	margin: auto
}
.register-sec .words-right .inner h3{
	color: #009FDA;
    font-size: 30px;
    letter-spacing: -1px;
	margin-bottom: 30px;
}


/*
footer-area
====================== */
.footer-area {
    background-color: #333;
    padding: 30px 0;
}

/* form-group
=============================== */
.login-form .form-group p{
	 border: 1px solid #DDE0E4;
	border-radius: 4px;
	display: flex;
	overflow: hidden
}
.login-form .form-group p span{
	width: auto;
    background:#e3e6eaa6;
    display: block;
    padding: 13px 15px;
	
}
.login-form .form-group .form-control,
.register-form .form-group .form-control {
    border: none;
    padding: 0;
    border-radius: 0;
    font-size: 18px;
    text-align: center;
}

.login-form .form-group .form-control:focus,
.register-form .form-group .form-control:focus{ 
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #C0C4CA;
    border-color: #DDE0E4;
}

.form-group .form-control:focus{ 
    -webkit-box-shadow: none;
    box-shadow: none;
}

button {
    background-color: #009FDA;
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 5px 15px;
}

.login-form button,
.register-form button{
	margin-top: 40px;
	padding: 10px
}
button.sec-btn{
    background-color: #333;
}

button.bg-btn{
    padding: 10px 60px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #009FDA !important;
    border-color: transparent;
}

.custom-control-input:focus ~ .custom-control-label::before {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-control-label::before {
    background-color: transparent;
    border: 1px solid #848484;
}

.custom-control,
.custom-control-label {
    cursor: pointer;
}
 
 
/* custom-btn
========================== */
.custom-btn {
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #009FDA;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 1px dashed transparent;
    padding: 5px 20px 10px;
    line-height: 1;
}

.custom-btn::after {
    content: none !important;
}

.custom-btn.custom-btn_border {
    color: #2b2b2b;
    background-color: transparent;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 1px dashed #009FDA;
}

.custom-btn.custom-btn_border:hover {
    color: #FFFFFF;
    background-color: #009FDA;
}


ul {
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

.no_padding {
    padding: 0;
}

.section-lg {
    padding: 120px 0;
}

.section-md {
    padding: 80px 0;
}

img {
    display: block;
    max-width: 100%;
}

.d-inline-block {
    display: inline-block !important;
}

.section-title {
    text-align: center;
    color: #2b2b2b;
    margin-bottom: 80px;
}

.section-title h2 {
    font-size: 38px;
    margin-bottom: 15px;
}

.section-title h4 {
    font-size: 20px;
}

h1 {
    font-size: 45px;
    line-height: 50px;
}

h2 {
    font-size: 38px;
    line-height: 44px;
}

h3 {
    font-size: 33px;
    line-height: 40px;
}

h4 {
    font-size: 28px;
    line-height: 35px;
}

h5 {
    font-size: 24px;
    line-height: 30px;
}

h6 {
    font-size: 20px;
    line-height: 25px;
}


.main-title {
    text-align: center;
    font-size: 45px;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}

.title-p {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #888;
    margin-bottom: 80px;
}

.breadcrumb{
	margin-bottom: 0;
	background: transparent;
	padding: 0
}

