# copy to /etc/systemd/system/gunicorn_ctb.service

[Unit]
Description=gunicorn daemon for ctb project
Requires=gunicorn_ctb.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=as
Group=as
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/home/as/clickup_tasks_board
ExecStart=/home/as/.virtualenvs/ctb/bin/gunicorn -c /home/as/clickup_tasks_board/deploy/gunicorn_config.py project.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
