{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
  <!-- Meta Tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="abdelhameed-hisham">
  <meta name="contactNetworkAddress" content="mahmoudtarek18719@gmail.com">
  <meta name="contactPhoneNumber" content="+201121665301">

  <!-- Site Title-->
  <title>I Care | {% block title %}{% endblock title %}</title>

  <!-- Favicon-->
  <link rel="shortcut icon" href="{% static 'images/icons/fav.ico' type='image/x-icon' %}">

  <!-- Base & Vendors-->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap-ar.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'vendor/my-icons-collection/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/DataTables/datatables.min.css' %}">
  <!-- Site Style-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/media.css' %}">

</head>

<body>

  <!--	please login first modal-->
  <div class="modal fade first_login" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
      <div class="modal-content cust_content">
        <div class="modal-body cust_body">
          <button type="button" class="close cust_close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="success_message">
            <h4 class="mb-3 mb-sm-0">عفواً .. عليك بتسجيل الدخول أولا ً لاستكمال تلك العملية</h4>
            <p>
              <a href="../login.html" class="cust_btn">تسجيل الدخول </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--	success order modal-->
  <div class="modal fade success_order" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content cust_content">
        <div class="modal-body cust_body">
          <button type="button" class="close cust_close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="success_message">
            <h4 class="mb-0">تم ارسال طلبك بنجاح ...</h4>
            <p>
              <span><i class="fas fa-plus"></i></span>
              <a href="new_order.html">طلب جديد </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid page-body-wrapper d-flex flex-row">
    {% include "components/aside.html" %}
    {% block content %} {% endblock content %}
  </div>

  <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
