{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<div class="main_panal user_view_page">
  <div class="decleration_page">
    <form method="POST">{% csrf_token %}
      <div class="title">
        <h5>الصفحة الشخصية</h5>
      </div>
      <div class="page_content">
        <h5>تغيير كلمة المرور</h5>
        <!-- {{ form.as_p }} -->


        {% if form.none_field_errors %}
        {% for error in form.none_field_errors %}
        {{ error }}
        {% endfor %}
        <div class="alert alert-danger">
        </div>
        {% endif %}

        {% for field in form %}

        {% if field.name == "old_password" %}
        <p>
          <label>كلمة المرور الحالية *</label>
          <input type="password" name="{{ field.name }}" required>
          {% if field.errors %}
          <span class="text-danger">كلمة المرور الحالية خاطئة</span class="text-danger">
          {% endif %}
        </p>
        {% endif %}

        {% if field.name == "new_password1" %}
        <div class="row">
          <div class="col-md-6">
            <p>
              <label>كلمة المرور الجديدة *</label>
              <input type="password" name="{{ field.name }}" required>
              <span class="text-secondary">كلمة المرور يجب ألا تشبه معلوماتك الشخصية</span><br>
              <span class="text-secondary">كلمة المرور يجب أن تحتوي على 8 أحرف على الأقل</span><br>
              <span class="text-secondary">يجب ألا تستخدم كلمة مرور شائعة</span><br>
              <span class="text-secondary">كلمة المرور لا يمكن أن تكون أرقاماً فقط</span><br>
            </p>
          </div>
          {% endif %}

          {% if field.name == "new_password2" %}
          <div class="col-md-6">
            <p>
              <label>إعادة كلمة المرور الجديدة *</label>
              <input type="password" name="{{ field.name }}" required>
              {% if field.errors %}
              {% for error in field.errors %}
              {% if error == "The two password fields didn't match." %}
              <span class="text-danger">لم يتطابق حقلا كلمة المرور الجديدة</span><br>
              {% elif error == "The password is too similar to the email address." %}
              <span class="text-danger">كلمة المرور تشبه بريدك الاكتروني كثيراً</span><br>
              {% elif error == "This password is too short. It must contain at least 8 characters." %}
              <span class="text-danger">كلمة المرور قصيرة جداً. يجب ألا تقل عن 8 أحرف</span><br>
              {% elif error == "This password is too common." %}
              <span class="text-danger">كلمة المرور شائعة جداً</span><br>
              {% else %}
              <span class="text-danger">{{ error }}</span><br>
              {% endif %}
              {% endfor %}
              {% endif %}
            </p>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <input type="submit" class="cust_btn mt-2" value="تغيير">
      </div>
    </form>
  </div>
</div>
{% endblock content %}
