{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="modal fade edit_profile" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">بيانات الحساب الشخصي</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">{% csrf_token %}
          <div class="page_content">
            {% for field in form %}
            {% if field.name == "name" %}
            <p>
              <label>الاسم</label>
              <input type="text" value="{{ request.user.name }}" name="{{ field.name }}">
            </p>
            {% endif %}
            {% endfor %}

            {% for field in form %}
            {% if field.name == "email" %}
            <p>
              <label>البريد الالكتروني</label>
              <input type="email" value="{{ request.user.email }}" name="{{ field.name }}">
            </p>
            {% endif %}
            {% endfor %}
            <!-- <div class="row">
              <div class="col-md-6">
                <p>
                  <label>البريد الالكتروني</label>
                  <input type="email" value="{{ request.user.email }}">
                </p>
              </div>
              <div class="col-md-6">
                <p>
                  <label>كلمة المرور</label>
                  <input type="password" value="كلمة المرور">
                </p>
              </div>

            </div> -->
            <input type="submit" class="cust_btn" value="حفظ">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="main_panal user_view_page">
  <div class="decleration_page">
    <form>
      <div class="title">
        <h5>الصفحة الشخصية</h5>
      </div>
      <div class="page_content">
        <h5>بيانات الحساب الشخصي</h5>
        {% for field in form %}
        {% if field.name == "name" %}
        <p>
          <label>الاسم</label>
          <input type="text" value="{{ request.user.name }}" disabled>
        </p>
        {% endif %}
        {% endfor %}

        <div class="row">
          {% for field in form %}
          {% if field.name == "email" %}
          <div class="col-md-6">
            <p>
              <label>البريد الالكتروني</label>
              <input type="email" value="{{ request.user.email }}" disabled>
            </p>
          </div>
          {% endif %}
          {% endfor %}

          <div class="col-md-6">
            <p>
              <label>كلمة المرور</label>
              <input type="password" value="كلمة المرور" disabled>
            </p>
          </div>

        </div>
        <a href="#" class="cust_btn" data-toggle="modal" data-target=".edit_profile">تعديل</a>
      </div>
    </form>
  </div>
</div>


{% endblock content %}
