{% extends "base.html" %}
{% load static %}

{% block title %}User's Tasks{% endblock title %}

{% block content %}

<div class="main_panal">
  <div class="decleration_page">
    <div class="title">
      <h5>طلباتي</h5>
    </div>

    <div class="page_content">
      {% if object_list %}
      <h5>الطلبات</h5>
      <div class="responsive_table">
        <table class="user_table">
          <thead>
            <tr>
              <th>الرمز التعريفي</th>
              <th>العنوان</th>
              <th>الحالة</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr class="active">
              <td>23154</td>
              <td>باقة 1200</td>
              <td><a href="#" class="complete cust_btn">تمت</a></td>
            </tr>
            <tr>
              <td>23154</td>
              <td>باقة 1200</td>
              <td><a href="#" class="Reviewing cust_btn">جاري المراجعة</a></td>
            </tr>
            <tr class="active">
              <td>23154</td>
              <td>باقة 1200</td>
              <td><a href="#" class="hanging cust_btn">معلق</a></td>
            </tr> -->
            {% for obj in object_list %}
            <tr>
              <td>{{ obj.clickup_id }}</td>
              <td>{{ obj.name }}</td>
              <td><a href="" class="complete cust_btn">{{ obj.status }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <div class="success_message">
        <h4 class="mb-0">ليس لديك أي طلبات ...</h4>
        <p>
          <span><i class="fas fa-plus"></i></span>
          <a href="{% url 'home' %}">طلب جديد </a>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
