{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="main_panal">
  <div class="decleration_page">
    <div class="title">
      <h5>طلباتي</h5>
    </div>

    {% if not object_list %}
    <div class="page_content">
      <h5>الطلبات</h5>
      <div class="responsive_table">
        <table class="user_table">
          <thead>
            <tr>
              <th>الرمز التعريفي</th>
              <th>العنوان</th>
              <th>الحالة</th>
            </tr>
          </thead>
          <tbody>
            <tr class="active">
              <td>23154</td>
              <td>باقة 1200</td>
              <td><a href="#" class="complete cust_btn">تمت</a></td>
            </tr>
            <tr>
              <td>23154</td>
              <td>باقة 1200</td>
              <td><a href="#" class="Reviewing cust_btn">جاري المراجعة</a></td>
            </tr>
            <tr class="active">
              <td>23154</td>
              <td>باقة 1200</td>
              <td><a href="#" class="hanging cust_btn">معلق</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    <h5>ليس لديك طلبات</h5>
    {% endif %}
  </div>
</div>

{% endblock content %}
