{% extends "base.html" %}

{% block content %}

{% if object_list %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">الحالة</th>
      <th scope="col">العنوان</th>
      <th scope="col">الرمز التعريفي</th>
    </tr>
  </thead>
  <tbody>
  {% for object in object_list %}
    <tr>
      <td>{{ object.status }}</td>
      <td>{{ object.name }}</td>
      <th scope="row">{{ object.clickup_id }}</th>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% else %}
<h1 class="text-center display-5">ليس لديك طلبات</h1>
{% endif %}
{% endblock content %}
